<?xml version='1.0'?>
<model>
  <name>TWD Lidar Robot</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  
  <author>
    <name>The Noob Inventor</name>
    <email>thenoobinventor@email.com</email>
  </author>
  
  <description>
    A 2 wheel drive robot running ROS2 Foxy, that performs SLAM operations and avoids obstacles. The robot is mounted with a RPLidar A1 sensor and uses a Raspberry Pi 4 as its computer.
  </description>
</model>
